//- Стандартный шаблон страницы
include mixins.pug

doctype html
html(class='page  no-js', lang='ru')

  head
    meta(charset='utf-8')

    block meta
      title Home

    block head
      link(rel='stylesheet', href='css/style.css')
      script.
        document.documentElement.className = document.documentElement.className.replace('no-js', 'js');

  body.page
    noscript У вас отключен JavaScript. Это пугает.

    .page__inner
      .page__content

        header.page-header
          .page-header__inner
            a.logo(href='/') Book Store
            p.page-header__open-time  с 9:00 до 19:00
            nav.nav.main-nav
              button.burger.main-nav__burger(aria-label='Показать меню') #[span]
              ul.main-nav__list
                li.main-nav__item
                  a(href='/') Книги
                li.main-nav__item.main-nav__item--active
                  a(href='/recommendations.html') Рекомендации
                li.main-nav__item
                  a(href='/contacts.html') Контакты
                li.main-nav__item.main-nav__item--phone
                  a(href='tel:+78005008020')
                    svg(width='24', height='24')
                    span.main-nav__phone-number +7 800 500-80-20
            a.page-header__cart
              svg(width='24', height='24')

        block content
          p Cодержимое

      .page__footer-wrapper
        footer.page-footer
          .page-footer__inner
            a.logo(href='/') Book Store
            p.page-footer__open-time  с 9:00 до 19:00
            nav.nav.nav-footer
              ul.nav__list
                li.nav__item
                  a(href='/') Книги
                li.nav__item.nav__item--active
                  a(href='/recommendations.html') Рекомендации
                li.nav__item.nav__item--contacts
                  a(href='/contacts.html') Контакты
                li.nav__item.nav__item--phone
                  a(href='tel:+78005008020')
                    svg(width='24', height='24')
                    span.nav__phone-number +7 800 500-80-20

    block page-bottom
      script(src='js/vendors.min.js')
      script(src='js/script.min.js')
