extends ../pug/layout.pug

block meta
  title Книга
  meta(name='description', content='')

block content
  .book-block
    .preview
      img.preview__screen
      img.preview__screen
      img.preview__screen
    .book
      .book__img
        img.book__img-cover
      .book__description
        p.book__description-author Эдди Юн
        h2.book__description-name Суперпртребители
        p.book__description-preview Кто это и почему они так важны для вашего бизнеса
        .book__info
          p.book__info-left Артикул
          p.book__info-right 1090763
          p.book__info-left В наличии
          p.book__info-right 5 шт
          p.book__info-left Издательство
          p.book__info-right Издал
          p.book__info-left Цена
          p.book__info-right 800 Р
        .book__button
          button.book__button-submit(type='submit', value='Добавить в корзину')
          input.book__button-input(type='text')
          p.book__button-input-text шт.
        .book__like
          img.book__like-symbol
          p.book-like-text 20 людям понравилась эта книга
      .book__full-desc
        h2.book__full-desc-title Короткое описание
        p.book__full-desc-text В отличие от обычных покупателей суперпотребители очень заинтересованы в ваших товарах.
        a.book__full-desc-link(href="index.html") Показать полностью
      .book__like
        p Тут будут лайки
    .more-books
      h2.more-books-title Книги по тематике
      a.more-books-link(href="index.html") Больше книг по теме
      .more-books__card
        +mini-card('Латеральная логика', 'book.html', 'img/book-lateralnaya-logika.jpg', 'Головоломный путь к нестандартному мышлению')
        +mini-card('Путеводитель по лжи', 'book.html', 'img/book-putevoditel-po-lzhi.jpg', 'Критическое мышление в эпоху постправды')
        +mini-card('Дао физики', 'book.html', 'img/book-dao-fiziki.jpg', 'Исследование параллелей между современной физикой и восточной философией')
        +mini-card('Не очевидно', 'book.html', 'img/book-ne-ochevidno.jpg', 'Как выявлять тренды раньше других')
    .banner
      h2.banner__text Мы открыли для вас уютную библиотеку
      p.banner__descr Приходите к нам по адресу Никитская 10, каждый день с 10:00 до 18:00



