extends ../pug/layout.pug

block meta
  title Контакты
  meta(name='description', content='')

block content
  .contacts
    h2.contacts__title Контакты
    ul.contacts__block
        li.contacts__block-item Набережная реки Фонтанки, 202
        li.contacts__block-item с 9:00 до 19:00 ежедневно
        li.contacts__block-item +7(911) 123 45 67
    .contacts__map
    .contacts__form
      h2.contacts__form-title Есть вопросы?
      p.contacts__form-descr Напишите нам на почту. Отвечаем в течение дня.
      form.contacts__form-wrapper
        input.contacts__form-input(type='text', placeholder='Ваша почта', required)
        input.contacts__form-input(type='text', placeholder='Сообщение', required)
        input.contacts__form-button(type='submit', value='Отправить')
        input(type='checkbox')
        p.contacts__form-checkbox Я согласен(-на) с политикой конфиденциальности и правилами обработки данных
    .banner
        h2.banner__text Мы открыли для вас уютную библиотеку
        p.banner__descr Приходите к нам по адресу Никитская 10, каждый день с 10:00 до 18:00
